<!DOCTYPE html>
<html>
  <head>
    <title>GuildChitterChatter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# react with webpacker tag %>
    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# actioncable for websockets %>
    <%= action_cable_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
